In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import scipy.stats as estadísticas

In [2]:
Games_Genres_Price_df = pd.read_csv('./Games_Genres_Price_df.csv', parse_dates=['release_date'])
df_games = pd.read_csv('./gamesNoGS.csv', parse_dates=['release_date'])
df_items = pd.read_csv('./items.csv')
df_reviews = pd.read_csv('./reviews_sentiment_analysis.csv')
df_genres = pd.read_csv('./games_genres.csv')
df_specs = pd.read_csv('./games_specs.csv')

In [4]:
# Función para encontrar el usuario con más horas jugadas para un género específico
def user_for_genre(genero: str):
    # Verificar si el género está presente en las columnas de géneros
    if genero not in Games_Genres_Price_df.columns:
        return 'El género solicitado no está presente en los datos'
    # Realizar un inner join entre Games_Genres_Price_df y df_items usando 'id' como clave
    merged_df = Games_Genres_Price_df.merge(df_items, left_on='id', right_on='item_id', how='inner')
    # Filtrar el DataFrame combinado por el género deseado
    filtered_df = merged_df[merged_df[genero] == 1]
    # Calcular la suma de las horas jugadas por usuario y año
    user_year_playtime = filtered_df.groupby(['user_id', filtered_df['release_date'].dt.year])['playtime_forever'].sum().reset_index()
    # Excluir el año 1900 de la suma de horas jugadas
    user_year_playtime = user_year_playtime[user_year_playtime['release_date'] != 1900]
    # Encontrar el usuario con más horas jugadas para el género
    user_with_most_playtime = user_year_playtime.groupby('user_id')['playtime_forever'].sum().idxmax()
    # Filtrar los datos del usuario con más horas jugadas
    user_most_playtime_data = user_year_playtime[user_year_playtime['user_id'] == user_with_most_playtime]
    # Crear una lista de acumulación de horas jugadas por año
    hours_played_by_year = [{'Año': year, 'Horas': playtime} for year, playtime in zip(user_most_playtime_data['release_date'], user_most_playtime_data['playtime_forever'])]
    # Devolver el resultado como un diccionario
    result = {
        f"Usuario con más horas jugadas para Género {genero}": user_with_most_playtime,
        "Horas jugadas": hours_played_by_year
    }
    return result

# Ejemplo de uso de la función
genero = 'Action'
resultados = user_for_genre(genero)
print(resultados)

{'Usuario con más horas jugadas para Género Action': 'DeEggMeister', 'Horas jugadas': [{'Año': 1994, 'Horas': 20.0}, {'Año': 1995, 'Horas': 80.0}, {'Año': 1998, 'Horas': 1504.0}, {'Año': 1999, 'Horas': 993.0}, {'Año': 2000, 'Horas': 7276.0}, {'Año': 2001, 'Horas': 295.0}, {'Año': 2002, 'Horas': 1388.0}, {'Año': 2003, 'Horas': 4608.0}, {'Año': 2004, 'Horas': 64061.0}, {'Año': 2005, 'Horas': 8908.0}, {'Año': 2006, 'Horas': 16235.0}, {'Año': 2007, 'Horas': 22869.0}, {'Año': 2008, 'Horas': 99995.0}, {'Año': 2009, 'Horas': 207187.0}, {'Año': 2010, 'Horas': 139111.0}, {'Año': 2011, 'Horas': 337126.0}, {'Año': 2012, 'Horas': 1182929.0}, {'Año': 2013, 'Horas': 460357.0}, {'Año': 2014, 'Horas': 192694.0}, {'Año': 2015, 'Horas': 274834.0}, {'Año': 2016, 'Horas': 111759.0}, {'Año': 2017, 'Horas': 87183.0}]}

In [2]:
df_games = pd.read_csv('./gamesNoGS.csv', parse_dates=['release_date'])
df_items = pd.read_csv('./items.csv')
df_reviews = pd.read_csv('./reviews_sentiment_analysis.csv')
df_genres = pd.read_csv('./games_genres.csv')
df_specs = pd.read_csv('./games_specs.csv')

In [8]:
# Realizar un inner join entre df_genres y df_items usando 'id' como clave
merged_df = df_genres.merge(df_items, left_on='id', right_on='item_id', how='inner')
# Realizar otro inner join con df_games usando 'id' como clave
merged_df = merged_df.merge(df_games, on='id', how='inner')

In [9]:
merged_df.describe(include='all')

C:\Users\lgtqa\AppData\Local\Temp\ipykernel_14532\158023069.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  merged_df.describe(include='all')

,id,Indie,Action,Casual,Adventure,Strategy,Simulation,RPG,Free to Play,Early Access,Sports,Massively Multiplayer,Racing,Utilities,user_id,item_id,playtime_forever,app_name,release_date,price
count,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2.810087e+06,2800879,2.810087e+06,2.810087e+06,2810087,2810087,2.772596e+06
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67290,NaN,NaN,8190,2601,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chidvd,NaN,NaN,Counter-Strike: Global Offensive,2012-08-21 00:00:00,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3065,NaN,NaN,43279,43537,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01 00:00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01 00:00:00,NaN
mean,1.755498e+05,4.469470e-01,6.861528e-01,1.181234e-01,2.852378e-01,1.835929e-01,1.450190e-01,2.240173e-01,1.910948e-01,3.444306e-02,2.770163e-02,9.081605e-02,2.375620e-02,2.199576e-03,NaN,1.755498e+05,1.551426e+03,NaN,NaN,1.351350e+01
std,1.284946e+05,4.971775e-01,4.640552e-01,3.227542e-01,4.515277e-01,3.871519e-01,3.521201e-01,4.169336e-01,3.931636e-01,1.823643e-01,1.641166e-01,2.873474e-01,1.522887e-01,4.684804e-02,NaN,1.284946e+05,6.875475e+03,NaN,NaN,1.353998e+01
min,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.000000e+01,1.000000e+00,NaN,NaN,0.000000e+00
25%,3.393000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,3.393000e+04,4.600000e+01,NaN,NaN,4.990000e+00
50%,2.128000e+05,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2.128000e+05,2.070000e+02,NaN,NaN,9.990000e+00
75%,2.656300e+05,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2.656300e+05,7.950000e+02,NaN,NaN,1.999000e+01
max,5.286600e+05,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,5.286600e+05,6.427730e+05,NaN,NaN,7.717100e+02

In [4]:
sns.boxplot(x='GarageQual',y=‘SalePrice’,data=df_)
plt.show()

,id,Indie,Action,Casual,Adventure,Strategy,Simulation,RPG,Free to Play,Early Access,Sports,Massively Multiplayer,Racing,Utilities
count,3.008500e+04,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000,30085.000000
mean,4.440048e+05,0.527107,0.376267,0.275287,0.273957,0.231245,0.222669,0.182117,0.067509,0.048596,0.041782,0.036829,0.035998,0.011301
std,1.842230e+05,0.499273,0.484456,0.446666,0.445995,0.421636,0.416045,0.385948,0.250905,0.215025,0.200093,0.188345,0.186288,0.105707
min,1.000000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.218300e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.383000e+05,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.889700e+05,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.028850e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000